body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.nav {
    background-color: lightskyblue;
    font-size: large;
    text-align: left;
}

.nav-right {
    text-align: right;
    float: right;
}

.main {
}

.form-div {
    background-color: white;
    box-shadow: lightgrey;
    margin: 10px auto 0;
    padding: 5px;
    text-align: center;
    max-width: 700px;
    min-width: 700px;
    display: grid;
}

form {
    display: table;
}

label {
    display: table-cell;
    text-align: right;
}

input {
    display: table-cell;
}

form p {
    display: table-row;
}

.error {
    color: red;
    font-weight: lighter;
}

ul {
    list-style-type: none;
}

hr {
    color: lightgrey;
    margin: 0;
}

textarea{
    width: 500px;
}
